.container {
    // Grid span
    grid-column: 3 / 7;
    grid-row: 2 / 3;
    justify-self: center;
    width: 90%;

    transform: translateY(-10rem);

    @media only screen and (max-width: $bp-largest){
        grid-column: 1 / 7;
        width: 80%;
    }

    @media only screen and (max-width: $bp-medium){
        transform: translateY(-5rem);
    }

    & > * {
        background-color: #fff;
        border-radius: 1rem;
        padding: 5rem 3rem 3rem;

        &:not(:last-child){
            margin-bottom: 3rem;
        }
    }
}

.spread-box {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    // &:nth-child(1){
    //     @media only screen and (max-width: $bp-medium){
    //         flex-direction: column;
    //         justify-content: flex-start;
    //         align-items: flex-start;
    //     }
    // } 
}

