.heading-1  {
    color: $black;
    font-size: 2rem;
}

.heading-2 {
    color: $black;
    font-size: 3rem;
}

.heading-3 {
    margin-bottom: 2rem;
}

.text {
    color: $dark-gray;
    margin-top: 1rem;
    line-height: 2;
}