// Color variables
$moderate-cyan: #3cb4ac;
$dark-cyan: #147b74;
$black: #000000;
$dark-gray: #7a7a7a;

// Media Breakpoints
$bp-largest: 950px;
$bp-largest: 750px;
$bp-medium: 550px;
$bp-small: 400px;